/*
 * Globals
 */

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/*
 * Base structure
 */

html,
body {
    padding: 0;
    margin: 0;
    font-family: Libre Franklin, sans-serif;
    font-style: normal;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 93px 0;
}

/* Brand */
.brand {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}

/* Nav */
.nav {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.nav__list {
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
}

/* Intro */
.intro {
}

.intro__title {
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
}

.intro__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.intro__sub-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}

/* Section */
.section {
    padding-top: 89px;
}

/* Text title */
.text-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 75px;
}

.text-sub-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

/* Text block */
.text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

/*
 * Header
 */
.header {
    color: #fff;
    height: 100vh;
    background: rgba(198, 108, 73, 0.3);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #F5D6AB url(../images/b2a75cd5349656b37f5cc91d5c89d6a2.jpg) center;
    background-size: cover;
    z-index: -1;
}

.header .inner,
.skills .inner,
.portfolio .inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.skills .inner {
    align-items: center;
}

.portfolio .inner {
    margin-top: 48px;
}

.header__list {
    display: flex;
}


.header__item {
    padding: 0 30px;
}

.header__intro {
    padding-top: 145px;
}

.header__intro-text {
    margin: 26px 0 106px;
}

/* about */
.about {
}

.about__title {

}

/* Skills */
.skills {
    background: #FFFAF2;
}

.skills__photo {
    width: 350px;
    height: 340px;
    background: #F5D6AB url(../images/ebb0d75a42a7ada9994cf2df460dcd3a.jpg) center;
    background-size: cover;
}

.skills__list td,
.skills__list th {
    min-width: 190px;
    text-align: left;
}

/* Portfolio */
.portfolio {

}

.portfolio__text {
    width: 349px;
    height: 137px;
}

@media (max-width: 576px) {
    /*.masthead-brand {
        flex: 1;
        margin-right: 40px;
    }*/
    .container {
        width: 100%;
    }

    .header {
        height: 275px;
    }

    .header::before {
        height: 275px;
    }
}

@media (min-width: 576px) {
    /*.masthead-links {
        flex-grow: 0;
    }*/
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}
